.card {
  position: relative;
  z-index: 1;
  background: #fff;
  width: 100%;
  padding: 10px 10px 10px 15px;
  margin: 0 0 10px 0;
  overflow: auto;
  border: 1px solid #e5e5df;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}

.card__deleteButton {
  width: 30px;
  height: 30px;
  background: #323232;
  position: absolute;
  border-radius: 50%;
  right: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.card__deleteButton:before {
  content: "X";
  display: block;
  color: #fff;
}

.card__decorationColor {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 7px;
  background-color: #323232;
}

.card__title {
  font-weight: bold;
  border-bottom: solid 5px transparent;
}

.card__title:before {
  display: inline-block;
  width: 1em;
  content: '▸';
}

.cardButton {
  border: none;
  width: 100px;
  padding: 10px 30px;
  margin-top: 20px;
  opacity: 1;
  transition: opacity .5s;
  cursor: pointer;
}
.cardButton:hover {
  opacity: .7;
}

.cardButton + .cardButton {
  margin-left: 10px;
}

.cardButton.prev {
  background: #322332;
  color: #fff;
}
.cardButton.next {
  background: green;
  color: #fff;
}
.cardButton.edit {
  background: #0079bf;
  color: #fff;
}
