.mordal {
  /* position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); */
  opacity: 1;
  transition: opacity .5s ease-in-out;
}

.mordal_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 90;
}

.mordal_content {
  position: absolute;
  padding: 40px;
  top: 70px;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  z-index: 100000;
}

.mordal_closeButton {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  background: #000;
  color: #fff;
  right: 1%;
  top: 3%;
}

.mordal_closeButton:before {
  content: "X";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mordal_title {
  color: #000;
  border-bottom: solid 1px #323232;
}

.mordalContent_title, .mordalContent_descriptiton {
  display: block;
  padding: 20px;
}

.mordalContent_title {
  width: 40%;
}
.mordalContent_descriptiton {
  width: 100%;
  margin-top: 20px;
}

.mordal_submit {
  border: none;
  width: 180px;
  background: #323232;
  color: #fff;
  padding: 20px;
  cursor: pointer;
  margin-top: 20px;
}
